[run]
branch = True
source = stsci

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    get_waf.py
    conftest.py
    setup.py
    docs/*
    test_c/*
    tests/*
    stsci/stimage/tests/*
