name: CI

on:
  push:
    branches:
      - master
      - '*.x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 7AM build
    - cron: "0 7 * * 1"

jobs:
  ci:
    name: Python ${{ matrix.python-version }}, numpy${{ matrix.numpy-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9']
        numpy-version: [1.14.0, 1.15.0, 1.16.0, 1.17.0, 1.19.0, 1.21.0]
        include:
          - python-version: '3.6'
            numpy-version: [1.14.0, 1.17.0, 1.19.0]
        include:
          - python-version: '3.10'
            numpy-version: 1.21.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test] numpy~=${{ matrix.numpy-version }}

      - name: Run tests
        run: |
          python get_waf.py
          python waf configure build
          pytest -rsv --cov=./ --cov-report=xml


      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
          fail_ci_if_error: true

env:
  CODECOV: $(codecov)
